!!! 5
%html
	%head
		%meta(charset="utf-8")
		%link(rel="stylesheet" href="css/main.css")
	%body
		#container
			%canvas#game(width="580" height="480")
		%script(src="script/merged/main.js" type="text/javascript")
		:javascript
			game.init();